<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style-contact.css">
    <title>Contacto</title>
</head>
<body>
    <header>
        <div class="header-discount">
            <p>20% de descuento en todos los productos!</p>
        </div>
        <div class="header-shop">
            <img src="../img/Group.svg" alt="logo-shop">
            <h1>Nombre Tienda</h1>
        </div>
    </header> 
    <main>
        <section>
            <div class="main-contact">
                <div class="main-title" ><h2>Contacto</h2></div>
                <div class="main-form">
                    <form action="">
                    <div class="main-form--input" ><label><input type="text" name="nombres" placeholder="Nombre y Apellido"></label></div>
                    <div class="main-form--input"><label><input type="email" name="email" id="input-email" placeholder="correo electronico"></label></div>
                    <div><textarea name="coments" id="coments" cols="30" rows="10"></textarea></div>
                    <div class="main-form--buttons"><input type="reset" value="Resetear">
                        <input type="submit" value="Registrar">
                    </div>
                    </form>
                </div>
            </div>

        </section>
    
    
    </main>


    <footer class="footer-DH">
        Todos los derechos reservados a FRONT END 1
    </footer>
</body>
</html>