@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 66.5%;
    font-family: 'Roboto', sans-serif;
      
}
body{
    height: 100vh;  
}


header{
    height: 80px;
     }

header .header-discount{
    background-color:  #1CD1B0;
    font-size: 1.2rem;
}

header .header-shop{
    display: flex;
    background-color: #00669F;
    color: #FFFFFF;
    align-items: center;
}
header .header-shop h1{
    font-size: 2.0rem;
    
}
header .header-shop img{
    height: 50px;
}

main .main-contact{
    max-width: 50%;
    margin: auto;
}

main .main-contact .main-title{
    font-size: 1.7rem;
}

input{
    width: 100%;
    height: 40px;
    margin: 10px auto;
    font-size: 1.4rem;
    
}
input:hover{
    box-shadow: 0 10px 6px 0 #20212447;
    border-color:#00669F;
}
input::placeholder{
    color: black;
}

textarea{
    width: 100%;
    margin: 10px auto;
    
    font-size: 1.2rem;
}

.main-form--buttons{
    display: flex;
}
.main-form--buttons input{
    width: 45%;
    border-radius: 20px;
}

.main-form--buttons input[type=reset]{
    background-color: #888888;
    color: white;
    font-weight: bold;
}
.main-form--buttons input[type=submit]{
    background-color: #1CD1B0;
    font-weight: bold;
}


.footer-DH{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00669F;
    margin-top: 100px;
    height: 30px;
    color: #FFFFFF;
    font-size: 1.2rem;
}